<header class="app-header">
    <div class="header-left">
        <i class="bi bi-list"></i>
        <h3>P1F Apps</h3>
    </div>
    <img src="~/images/se-1.png" alt="Schneider Logo" class="header-logo" />
</header>